<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <title>login|page</title>
</head>
<body>
    <h1>User Login</h1>
    <div>
        <form action="/user/login" method="post">
            <label for="">Email : </label>
            <input type="text" name="email" placeholder="Enter Your email">
            <label for="">Full password : </label>
            <input type="text" name="password" placeholder="Enter Your password">
            <button type="submit">login</button>
        </form>
    </div>
   
    
</body>
</html>